em{ color:red;}
body{backgrorand:blue;}

  #missão{
  font-size:30px}
  #banner{width: 95%;}
  #moveis-e-acessorios-lojas-01.jpg{width:95%;}
  .principal{blackground:#CCCCCC;
  	padding: 30px}
    .titulo-principal
     {paddingtitu-left: 20px;}
    